*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.m{
    background: linear-gradient(to bottom right, rgb(234, 0, 255), rgb(142, 4, 255));
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 250px;
}
.m h1{
    font-size: 100px;
    color: white;
}